:root {
    --bs-primary-rgb: var(--mud-palette-primary);
    --bs-table-bg: var(--mud-palette-surface);
    --bs-table-color: var(--mud-palette-text-primary);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: var(--mud-palette-text-secondary) !important;
}

.bg-primary, .bg-info, .bg-warning, .bg-error {
    opacity: 0.7;
    font-weight: var(--mud-typography-default-weight);
}

.bg-primary {
    background-color: var(--mud-palette-primary) !important;
}

.bg-info {
    background-color: var(--mud-palette-info) !important;
}

.bg-warning {
    background-color: var(--mud-palette-warning) !important;
}

.bg-error {
    background-color: var(--mud-palette-error) !important;
}

@media (max-width: 1151px) and (orientation: portrait) {
    .mud-drawer-fixed.mud-drawer-mini.mud-drawer-clipped-always,
    .mud-drawer-fixed.mud-drawer-persistent:not(.mud-drawer-clipped-never),
    .mud-drawer-fixed.mud-drawer-responsive.mud-drawer-clipped-always,
    .mud-drawer-fixed.mud-drawer-temporary.mud-drawer-clipped-always {
        top: 0;
        height: 100%;
    }

    .logo-image {
        display: none;
    }
}

.mud-input-label-outlined {
    background-color: var(--mud-palette-surface);
}

.form-check-input:checked {
    background-color: var(--mud-palette-primary);
    border-color: var(--mud-palette-primary);
}

.mud-button {
    border-radius: 5px;
}

.mud-table,
.table {
    --bs-table-bg: var(--mud-palette-surface);
    --bs-table-color: var(--mud-palette-text-secondary);
}

    .table thead th {
        text-align: center;
        background: rgba(248, 249, 250, 0.5);
        text-transform: uppercase;
        color: var(--mud-palette-text-primary);
    }

    .table-hover>tbody>tr:hover>* {
        --bs-table-color-state: var(--mud-palette-text-primary);
    }

.card {
    color: var(--mud-palette-text-secondary);
    background-color: var(--mud-palette-surface);
}

.card-header {
    background-color: unset;
}

.list-group {
    color: var(--mud-palette-text-secondary);
    background-color: var(--mud-palette-surface);
    --bs-list-group-color: var(--mud-palette-text-primar);
    --bs-list-group-bg: var(--mud-palette-surface);
}