@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br />
@CurrentUser.UserId

<br />
@CurrentUser.Username

<br />
@CurrentUser.IsAuthenticated

<br />
@CurrentUser.IsMasterUser
